.container {
    display: flex;

    .leftPanel {
        background: rgb(214, 214, 214);
        height: 100vh;
        min-width: 220px;

        .menuItems {
            list-style: none;
            padding: 15px;
            li {
                margin-bottom: 10px;
            }
        }
    }
    .rightPanel {
        padding: 20px;
    }
}
